@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-xanh-400: #cee9b6;
    --color-xanh-500: #5a9e87;
  }
}

body {
  overflow: hidden;
  /*  background-color: var(--color-xanh-500);*/
}

button[disabled],
.disabled {
  pointer-events: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

svg {
  display: inline-block;
}
